swagger: "2.0"
info:
  description: "Holidays Webhook の API です。"
  version: "0.1.1"
  title: "Holidays Webhook API"
  contact:
    email: "info@ambitiuos-i.net"
servers:
  - url: 'https://holidays-webhook.ambitious-i.net/'
    description: Production
  - url: 'http://localhost:8000'
    description: Local
paths:

  /:
    get:
      summary: "index"
      description: "現在時刻を返す（DB 側とサーバー側）"
      responses:
        200:
          description: "レスポンス"
          content:
            application/json:
              schema:
                type: object
                properties:
                  server:
                    type: string
                    format: date-time
                    example: 2021-09-05 08:27:23 UTC
                    description: サーバー側の現在時刻
                  db:
                    type: string
                    format: date-time
                    example: 2021-09-05 17:27:23
                    description: DB 側の現在時刻
  /holiday/cache/clear:
    get:
      summary: "cache clear"
      description: "祝日のキャッシュをクリアする"
      responses:
        200:
          description: "レスポンス"
          content:
            application/json:
              schema:
                type: object
                properties:
                  holidays:
                    type: array
                    description: 祝日データ（クリアしているため空）

  /auth/redirect:
    get:
      summary: "google login"
      description: "Google の Login 画面へリダイレクトさせる"
      responses:
        302:
          description: "Google のアカウント選択へリダイレクト"
          headers:
            Location:
              type: string
              example: https://accounts.google.com/o/oauth2/auth/oauthchooseaccount
  /login/callback:
    get:
      summary: "google callback"
      description: "Google Auth リダイレクトからの情報を取得・登録する"
      responses:
        200:
          description: "レスポンス"
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_token:
                    type: string
                    example: CuTtoRdf2lZZfkAUcp2hYrj0MjPqYxxxxxxxxxx
                    description: 認証トークン（60 桁乱数）
                  user_name:
                    type: string
                    example: bvlion
                    description: Google に登録しているユーザー名
                  owner_flag:
                    type: boolean
                    example: true
                    description: グループのオーナーか（Google ログインの場合は常に true）