openapi: 3.0.3
info:
  title: Holidays Webhook API
  description: Holidays Webhook の API です。
  contact:
    name: bvlion
    url: https://bvlion-app.web.app
    email: info@ambitiuos-i.net
  version: 0.2.0
servers:
- url: https://holidays-webhook.ambitious-i.net/
  description: Production
- url: http://localhost:8000/
  description: Local (Docker)
tags:
- name: web
  description: 認証なしで接続可能な API
- name: api
  description: Bearer 認証が必要な API
paths:
  /:
    get:
      tags:
      - web
      summary: index
      description: 現在時刻を返す（DB 側とサーバー側）
      responses:
        "200":
          description: レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /holiday/cache/clear:
    get:
      tags:
      - web
      summary: cache clear
      description: 祝日のキャッシュをクリアする
      responses:
        "200":
          description: レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
  /auth/redirect:
    get:
      tags:
      - web
      summary: google login
      description: Google の Login 画面へリダイレクトさせる
      responses:
        "302":
          description: Google のアカウント選択へリダイレクト
          headers:
            Location:
              style: simple
              explode: false
              schema:
                type: string
                example: https://accounts.google.com/o/oauth2/auth/oauthchooseaccount
  /login/callback:
    get:
      tags:
      - web
      summary: google callback
      description: Google Auth リダイレクトからの情報を取得・登録する
      responses:
        "200":
          description: レスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
  /api/exec/command/{id}:
    post:
      tags:
      - api
      summary: exec command
      description: コマンドを実行する
      parameters:
      - name: id
        in: path
        description: コマンド番号
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      responses:
        "200":
          description: コマンド実行結果
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
      security:
      - bearerAuth: []
components:
  schemas:
    user-type:
      type: string
      enum:
      - user
      - group
    inline_response_200:
      type: object
      properties:
        server:
          type: string
          description: サーバー側の現在時刻
          format: date-time
        db:
          type: string
          description: DB 側の現在時刻
          format: date-time
    inline_response_200_1:
      type: object
      properties:
        holidays:
          type: array
          description: 祝日データ（クリアしているため空）
          items:
            type: object
    inline_response_200_2:
      type: object
      properties:
        api_token:
          type: string
          description: 認証トークン（60 桁乱数）
          example: CuTtoRdf2lZZfkAUcp2hYrj0MjPqYxxxxxxxxxx
        user_name:
          type: string
          description: Google に登録しているユーザー名
          example: bvlion
        owner_flag:
          type: boolean
          description: グループのオーナーか（Google ログインの場合は常に true）
          example: true
    inline_response_200_3:
      type: object
      properties:
        name:
          type: string
          description: 実行コマンド名
          example: 電気
        response_code:
          type: integer
          description: 実行コマンドのレスポンスコード
          example: 200
        response_header:
          type: string
          description: 実行コマンドのレスポンスヘッダ
          example: "{\"Date\":[\"Mon, 13 Sep 2021...."
        response_body:
          type: string
          description: 実行コマンドのレスポンスボディ
          example: "{}"
    inline_response_400:
      type: object
      properties:
        error:
          type: string
          description: パラメータ不正
          example: Not date pattern
    inline_response_401:
      type: object
      properties:
        error:
          type: string
          description: 認証情報不正
          example: Authentication Required!
    inline_response_403:
      type: object
      properties:
        error:
          type: string
          description: アクセス不可（パラメータ含む）
          example: Haven't read permission
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_400'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_401'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_403'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
